image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  CONTAINER_IMAGE: beo1975/implementation-progress:1.4.0

scan-code:
  stage: .pre
  image:
    name: "zricethezav/gitleaks:latest"
    entrypoint: [""]
  script:
    - gitleaks detect --verbose --redact --no-git --source="$CI_PROJECT_DIR"
  tags:
    - docker

scan-vulnerabilities:
  stage: .pre
  image:
    name: "aquasec/trivy:latest"
    entrypoint: [""]
  script:
    - trivy fs --no-progress --ignore-unfixed --exit-code 0 $CI_PROJECT_DIR
  allow_failure: true
  tags:
    - docker

test-code:
  image: eclipse-temurin:25.0.2_10-jdk-noble
  stage: test
  script:
    - chmod +x mvnw
    - ./mvnw verify jacoco:report
    - cat ronja-service/target/site/jacoco/index.html
  coverage: "/Total.*?([0-9]{1,3})%/"
  tags:
    - docker

test-integration:
  image: eclipse-temurin:25.0.2_10-jdk-noble
  stage: test
  script:
    - chmod +x mvnw
    - ./mvnw test-compile failsafe:integration-test failsafe:verify jacoco:report
    - cat ronja-service/target/site/jacoco/index.html
  coverage: "/Total.*?([0-9]{1,3})%/"
  needs:
    - job: test-code
  tags:
    - gitlab-org-docker
